.about-data-je {
    .icon {
        background-color: transparent;
        background-position: top center;
        background-repeat: no-repeat;
        padding-top: 100px;
        margin-top: 20px;
    }
    .icon-open {
        background-size: 51px;
        background-image: url(../images/icon-open.png);
    }
    .icon-community {
        background-size: 61px;
        background-image: url(../images/icon-community.png);
    }
    .icon-modular {
        background-size: 73px;
        background-image: url(../images/icon-modular.png);
    }
}