.sidebar {
    padding-top: 40px;
    .widget {
        ul {
            margin:0;
            padding:0;
            li {
                background: $brand-primary;
                margin:0;
                list-style: none;
                padding: 5px;
                margin-bottom: 5px;
                color: white;
                a {
                    color: white;
                }
                &:hover {
                    background: $brand-secondary;
                }
            }
        }
    }
}